<footer>
    <div class="footer-container">
        <a href="#">About</a>
        <a href="#">Help</a>
        <a href="#">How it works</a>
    </div>
    <a href="/">
    <img src="/img/UniRide text.svg" alt="UniRide Logo" class="footer-logo">
    </a>
</footer>