<footer>
    <div id="about">
        <h2>SwiftSeats</h2>
        <a class="nav-link" href="/about">About</a>
    </div> 
    <p>SwiftSeats revolutionizes the reservation experience by providing a seamless platform that effortlessly connects users with their favorite dining spots, events, and activities, ensuring convenience and satisfaction with every booking. With a commitment to speed, efficiency, and user-centric design, SwiftSeats empowers individuals to save time and enjoy unforgettable experiences at the touch of a button.</p>
</footer>