<header>
    <div class="header-container">
        <img src="/img/UniRide text.svg" alt="UniRide Logo" class="logo">
            <ul class="nav-links">
                <li><a href="#">Search</a></li>
                <li><a href="#">Create a Ride</a></li>
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
            </ul>
    </div>
</header>