<header>
    <div class="header-container">
        <a href="/">
        <img src="/img/UniRide text.svg" alt="UniRide Logo" class="logo">
        </a>
            <ul class="nav-links">
                <li><a href="/">Search</a></li>
                <li><a href="/ride/driverhome">Post your Ride</a></li>
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
            </ul>
    </div>
</header>