<header>
    <div id="header-left">
        <img src="/assets/swiftseats-logo.png" alt="swiftseats-logo" width="160px" height="90px">
        <p id="account-type">Logged in as: {{user.accType}}</p>
    </div>

    <div id="header-right">
        <a class="nav-link" href="/homepage">Home</a>
        <a class="nav-link" href="/search">Search</a>
        <a class="nav-link" href="/reserve">Reserve</a>
        <a class="nav-link" href="/account">Account</a>
    </div>
</header>