.ride-wrapper{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  }
  
.ridecard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 920px;
    height: 350px;
    padding: 50px;
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 10px;
    margin: 10px 10px;
}

.ridefirstinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.ridetype{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    margin-bottom: 15px;
}

.ridelocation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.pickupContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropoffContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#pickupPoint{
    width: 160px;
}
  
#dropoffPoint{
    width: 160px;
}

#route{
    max-width: 330px;
    max-height: 70px;
    margin-bottom: 15px;
}

#pickupAreas{
    width: 330px;
}

.ridedetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ridesecondinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.ridesched {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 28px;
    padding: 10px;

}

.day-container {
    display: inline-block;
    text-align: center;
    margin: 5px;
}

.day-container input[type="checkbox"] {
    display: none;
}

.day-container label {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.day-container input[type="checkbox"]:checked + label {
    background-color: #E64401;
    color: #ffffff;
}

.rideotherdetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ridepublish{
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
}

.ridepublish:hover{
    background-color: #af3500;
    color: #ffffff;
}


.ride-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
  }
  .ride-info, .bookings {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
  }

  .ids {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .pickupdropoff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
  .btn {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  .btn-primary {
    background-color: var(--primary-color);
    color: white;
  }
  .btn-danger {
    background-color: var(--secondary-color);
    color: black;
  }