<h1>Error Submitting Contest</h1>
<p>There was an error submitting your contest for Ride ID: {{rideID}}.</p>
<p>Please try again later or contact support for assistance.</p>
<a href="/rides">Back to My Rides</a>
