<div class="contest-ride-success">
  <h2>Contest Submitted</h2>
  <p>Your contest has been successfully submitted. We will review your contest and update you shortly.</p>
  <button id="successOkButton" class="btn btn-primary">OK</button>
</div>
