<div class="contest-ride-error">
  <h2>Contest Submission Failed</h2>
  <p>There was an error submitting your contest. Please try again later.</p>
  <button id="successOkButton" class="btn btn-primary">OK</button>
</div>
