{{!-- <main>
    <div id="main-div">
        <div id="login-form-div">
            <img src="/assets/swiftseats-logo.png" alt="swiftseats-logo" width="160px" height="90px">
            <h2>Login</h2>
            <form action="/login" method="post">
                {{#if messages}}
                    {{#each messages}}
                        <div class="alert">{{this}}</div>
                    {{/each}}
                {{/if}}

                <input type="email" name="email" id="email" placeholder="Email" required><br>
                <input type="password" name="password" id="password" placeholder="Password" required><br>
                <input type="submit" value="Login" class="submit">
                <span id="remember-me-span">
                    <input type="checkbox" name="rememberMe" id="remember-me">
                    <label for="remember-me">Remember Me</label>
                </span>
            </form><br>
            <p>Don't have an account? <a href="/register">Sign up</a></p>
        </div>
        <div id="login-bg-div">
            <img id="login-bg" src="/assets/login-bg.jpg" alt="login-bg" width="1025px" height="840px">
            <span id="overlay">    
                <h1>Welcome back!</h1>
                <h2>Looking for a seat?</h2>
            </span>
        </div>
    </div> 
</main> --}}