/* newdriver.css */

.container {
    max-width: 800px;
    width: 100%;
    margin: 80px auto 20px;
    padding: 40px;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    color: var(--quinary-color);
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--quaternary-color);
    border-radius: 5px;
    font-size: 14px;
    color: var(--quinary-color);
}

input[type="text"]:focus,
input[type="file"]:focus {
    outline: none;
    border-color: var(--primary-color);
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: var(--primary-color);
    opacity: 0.8;
}
