.ride-wrapper{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
margin-top: 100px;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"], input[type='time'],select, textarea{
  border: none;
  padding: 2px;
  height: 20px;
  border-radius: 4px;
}

.ridecard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 920px;
  height: 350px;
  padding: 50px;
  background-color: var(--quaternary-color);
  color: var(--quinary-color);
  border-radius: 10px;
  margin: 10px 10px;
}

.ridefirstinfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ridefirstinfo h1{
  color: var(--senary-color);
}

.ridetype{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 330px;
  margin-bottom: 15px;
}

.ridelocation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

#pickupContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#dropoffContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pickupPoint{
  width: 160px;
}

#dropoffPoint{
  width: 160px;
}

#route{
  max-width: 330px;
  max-height: 70px;
  margin-bottom: 15px;
}

#pickupAreas{
  width: 330px;
}

.ridedetails{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ridesecondinfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: none;
}

.ridesched {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 28px;
  padding: 10px;

}

.day-container {
  display: inline-block;
  text-align: center;
  margin: 5px;
}

.day-container input[type="checkbox"] {
  display: none;
}

.day-container label {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: var(--quaternary-color);
  color: var(--quinary-color);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.day-container input[type="checkbox"]:checked + label {
  background-color: #E64401;
  color: #ffffff;
}

.rideotherdetails{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.ridepublish{
  height: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.ridepublish:hover{
  background-color: #af3500;
  color: #ffffff;
}

.ride-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  width: 100%;
}
.ride-info, .bookings {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  
}

.ids {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ids img{
  width: 30px;
  height: 30px;
}

.ids p{
  margin: 0 10px 0 10px;
}

.ride-info-body{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: var(--secondary-color);
  color: var(--quinary-color);
  padding: 30px;
  border-radius: 28px;

}

.ride-info-body-time{
  display: flex;
  flex-direction: row;
  width: 100%;

}

.ride-info-body-time p{
  font-family: "Maven Pro", sans-serif;
  margin-right: 10px;
}

.ride-info-body-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ride-info-body-container h2{
  font-family: "Maven Pro", sans-serif;
  color: var(--primary-color);
}

.ride-info-body-container img{
  width: 100px;
  height: 20px;
}

.pickupdropoff {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pickup{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.dropoff{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ride-info-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bookings h2{
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}
.btn-danger {
  background-color: var(--secondary-color);
  color: black;
}

.ride-list-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
}

.ride-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ride-destination {
  background-color: var(--primary-color);
  height: 400px;
  width: 430px;
  border-radius: 28px;
  padding: 25px;
  margin: 20px;
}

.ride-destination img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 8px;
}

.destination-info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--tertiary-color);
}

