<div class="page-wrap">
  <div class="login-wrap">
    <div class="log-in">
      <img class="text-logo" src="/img/UniRide text.svg" alt="logo" />
      <div class="form-wrap">
        <h1 class="bold">Sign In</h1>
        {{#if isFailed}}
          Incorrect credentials. Please try again.
        {{/if}}
        <form action="/login" method="POST" id="login-form">
          <input type="email" name="email" id="email" placeholder="Email" required>
          <input type="password" name="password" id="password" placeholder="Password" required>
          <div class="remember-me">
            <label class="checkbox-container">
              Remember me
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>
          </div>
          <button type="submit" class="form-button">Login</button>
        </form>
        <div class="registerlink"><p>Don't have an account yet?</p><a
            href="/auth/register"
          >Register</a></div>
      </div>
    </div>
  </div>

</div>